<div [ngClass]="{reminder: task.reminder}" class="task" (dblclick)="onToggle(task)">
    <h3>
        {{ task.text }} 
        <fa-icon
            (click)="onDelete(task)" 
            [ngStyle]="{'color': 'red'}" 
            [icon]="faTimes">
        </fa-icon> 
    </h3>
    <p>{{ task.day }}</p>
    <app-button color="{{ showEditSection ? 'red' : 'black'}}" text="{{ showEditSection ? 'Close' : 'Edit' }}" (btnClick)="toggleEditTask()"></app-button>
    <app-edit-task *ngIf="showEditSection" [(task)]="task" (taskChange)="editTask($event, task.id)"></app-edit-task>
</div>
